body {
  background-color: #121212;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-left a {
  margin-right: 1rem;
  text-decoration: none;
  color: #facc15;
  /* yellow highlight */

  font-weight: bold;
  font-size: 1.1rem;
}

.nav-left a:hover {
  text-decoration: underline;
}

.nav-search input {
  padding: 0.4rem 0.6rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid #333;
  outline: none;
}

.nav-search button {
  padding: 0.4rem 0.8rem;
  background-color: #facc15;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.nav-search button:hover {
  background-color: #eab308;
}


.trending-section {
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}


.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding-bottom: 12px;
  padding-left: 10px;
  scrollbar-width: none;

}

.slider::-webkit-scrollbar {
  display: none;

}

.card {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 300px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(88, 88, 88, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.card p {
  color: #ffc107;
  font-weight: bold;
  font-size: 16px;
  margin: 12px 0;
}

.hero-banner {
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 100vw;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  z-index: 2;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  color: white;
}

.overlay-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(29, 29, 29, 0.8), transparent);
  z-index: 1;
  pointer-events: none;
  /* Makes overlay ignore mouse events in order to click buttons */
}


.hero-overlay h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 14px;
  color: #ccc;
}

.read-more-btn {
  display: inline-block;
  margin-top: 12px;
  background-color: #ff9800;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.banner-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  gap: 10px;
}

.banner-btn button {
  background-color: #ff9800;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.banner-btn button:hover {
  background-color: #e38e00;
}

.airing-grid {
  display: flex;
  /* arrange show images in rows */
  flex-wrap: wrap;
  /* if row gets full, start a new row */
  gap: 50px;
  /*space between shows*/
  justify-content: center;
  /*aligns entire row of items in center of container*/
}

.airing-card {
  width: 200px;
}


.anime-title {
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

.airing-card a {
  text-decoration: none;
}

.anime-genre {
  color: #a8a8a8;
  font-size: 0.8rem;
}

.airing-title {
  font-size: 1rem;
  margin-left: 115px;
}

.spring-title,
.winter-title,
.summer-title {
  font-size: 1rem;
}


.season-headings {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.vertical-divider {
  /*color: #aaa;*/
  color: #ff9800;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .hero-banner {
    height: 300px;
  }

  .hero-overlay h2 {
    font-size: 22px;
  }

  .hero-overlay p {
    font-size: 14px;
  }
}