body {
  background-color: #121212;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: -9px;
}

.nav-link {
  margin-right: 1rem;
  text-decoration: none;
  color: #facc15;
  font-weight: bold;
  font-size: 1.1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}


.logo-container {
  margin-right: 20px;
}

.logo-img {
  height: 50px;
}

.logo-bar {
  background-color: rgb(10, 10, 10);
  padding-top: 10px;
  padding-bottom: 0px;
}

.nav-left a {
  margin-right: 1rem;
  text-decoration: none;
  color: #facc15;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-left a:hover {
  text-decoration: underline;
}

.nav-search input {
  padding: 0.4rem 0.6rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid #333;
  outline: none;
}

.nav-search button {
  padding: 0.4rem 0.8rem;
  background-color: #facc15;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.nav-search button:hover {
  background-color: #eab308;
}

.logout-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: -3px;
  right: 2px;
  z-index: 9999;
}

.login-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 9999;
}

.signup-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 20px;
  right: 115px;
  z-index: 9999;
}

.signup-btn:hover,
.login-btn:hover,
.logout-btn:hover {
  background-color: #FFD700;
  color: black;
  border-color: #FFD700;
}

.user-greeting {
  position: absolute;
  top: 1px;
  right: 95px;
  z-index: 9999;
  font-weight: bold;
}

.user-control {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 9999;
  white-space: nowrap;
}

.login-error {
  color: red;
  font-weight: bold;
  margin-top: 5px;

  text-align: center;
}



.trending-section {
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.forgot-password-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  margin-right: -25px;
}

.forgot-password-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding-bottom: 12px;
  padding-left: 10px;
  scrollbar-width: none;

}

.slider::-webkit-scrollbar {
  display: none;

}

.card {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 300px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(88, 88, 88, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.card p {
  color: #ffc107;
  font-weight: bold;
  font-size: 16px;
  margin: 12px 0;
}

.hero-banner {
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 100vw;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  z-index: 2;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  color: white;
}

.overlay-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(29, 29, 29, 0.8), transparent);
  z-index: 1;
  pointer-events: none;
  /* Makes overlay ignore mouse events in order to click buttons */
}


.hero-overlay h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 14px;
  color: #ccc;
}

.add-list-btn {
  display: inline-block;
  margin-top: -10px;
  background-color: #facc15;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
}

.read-more-btn {
  display: inline-block;
  margin-top: 12px;
  background-color: #facc15;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.add-list-btn:hover {
  background-color: #eab308;
}

.banner-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  gap: 10px;
}

.banner-btn button {
  background-color: #facc15;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.banner-btn button:hover {
  background-color: #eab308;
}

.airing-grid {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 50px;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  scrollbar-width: none;
  margin-left: 50px;
  margin-right: 50px;

}


.airing-card {
  flex: 0 0 auto;
  width: 200px;
  scroll-snap-align: start;
}



.anime-title {
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

.airing-card a {
  text-decoration: none;
}

.anime-genre {
  color: #a8a8a8;
  font-size: 0.8rem;
}

.airing-title {
  font-size: 1rem;
  margin-left: 30px;
  background: none;
  border: none;
  color: white;
  left: 0;
  transition: 0.6s;
  transform: translateY(10%) translateX(28px);
}

.airing-title:hover {
  color: #eab308;
  border-bottom: 2px solid #eab308;
  transition: 0.9s;
}

.all-button,
.completed-button,
.plan-to-watch-button,
.watching-button,
.on-hold-button,
.dropped-button,
.spring-title,
.winter-title,
.summer-title,
.next-season-title {
  font-size: 1rem;
  background: none;
  border: none;
  color: white;
  transition: 0.6s;
  left: 0;
  transform: translateY(10%) translateX(28px);
}

.all-button:hover,
.completed-button:hover,
.plan-to-watch-button:hover,
.watching-button:hover,
.on-hold-button:hover,
.dropped-button:hover,
.spring-title:hover,
.winter-title:hover,
.summer-title:hover,
.next-season-title:hover {
  color: #eab308;
  border-bottom: 2px solid #eab308;
  transition: 0.9s;

}

.search-filter {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.search-res {
  display: flex;
  justify-content: center;

}

.search-all,
.search-tv,
.search-movie,
.search-ona,
.search-special {
  font-size: 1rem;
  background: none;
  border: none;
  color: white;
  transition: 0.6s;
  left: 0;
  transform: translateY(10%) translateX(28px);
  cursor: pointer;
}

.active-filter {
  border-bottom: 2px solid #facc15;
  color: #facc15;
}

.anime-entry {
  transition: transform 1s ease, opacity 0.3s ease;
}

.search-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}



.search-all:hover,
.search-tv:hover,
.search-movie:hover,
.search-ona:hover,
.search-special:hover {
  color: #eab308;
  border-bottom: 2px solid #eab308;
  transition: 0.9s;
}

.list-buttons,
.filter-option {
  display: flex;
  justify-content: center;

}

.filter-option select {
  padding: 6px 12px;
  font-size: 0.9rem;
  width: auto;
  max-width: 180px;
  border-radius: 6px;
}

.list-title {
  text-align: center;
}

.season-headings {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.vertical-divider {
  color: #ff9800;
  font-size: 1.2rem;
  left: 0;
  transform: translateY(10%) translateX(28px);
}

.airing-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.scroll-left,
.scroll-right,
.scroll-btn {
  position: absolute;
  z-index: 2;
  top: 40%;
  transform: translateY(-50%);
  background-color: #facc15;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 1s ease;
}

.character-scroll-left,
.character-scroll-right {
  background-color: #facc15;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.character-scroll-left:hover,
.character-scroll-right:hover {
  background-color: #eab308;
}


.scroll-right {
  position: absolute;
  right: 0;
  transform: translateY(-50%) translateX(-25px);
}

.scroll-left {
  position: absolute;
  left: 0;
  transform: translateY(-50%) translateX(25px);
}

.scroll-left,
.scroll-right {
  position: absolute;
}



.character-scroll-left,
.character-scroll-right {
  background-color: #facc15;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.character-scroll-left:hover,
.character-scroll-right:hover {
  background-color: #eab308;
}


.character-scroll-left,
.character-scroll-right {
  position: absolute;
}

.character-scroll-left {
  position: relative;
  /*left: 35px;
  top: -580px;*/
  transform: translateY(-100%) translateX(0px);
}

.character-scroll-right {
  position: relative;
  transform: translateY(-100%) translateX(0px);
}


.season-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;

}

.media-grid {
  display: flex;
  /*Turns list from columns to rows*/
  gap: 30px;
  flex-wrap: wrap;
  /*Creates new row based on screen size*/
  margin-left: 10px;
}

.media-details {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: rgb(32, 32, 32);
}


.media-title,
.media-title:link,
.media-title:visited,
.media-title:hover,
.media-title:active {
  color: #facc15;
  overflow: hidden;
  white-space: nowrap;
  /**/
  text-decoration: none;
}

.center-title {
  text-align: center;

}

.status-badge {
  padding: 4px 10px;
  font-size: 0.75rem;
  border-radius: 999px;
  background-color: #333;
  font-weight: bold;
  display: inline-block;
  color: white;
  margin: 4px 2px;
}

.status-watching {
  background-color: #4caf50;
}

.status-completed {
  background-color: #2196f3;
}

.status-on-hold {
  background-color: #facc15;
  color: black;
  font-weight: bold;
}

.status-dropped {
  background-color: #e53935;
}

.status-plan-to-watch {
  background-color: #6d6a6a;
}

.media-entry {
  border-radius: 16px;
  overflow: hidden;
  background-color: #1f1f1f;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 220px;
}

.media-entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.08);
}

.media-image {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-bottom: 1px solid #333;
}

.edit-list-button,
.delete-list-button {
  background: transparent;
  border: 1px solid #facc15;
  border-radius: 6px;
  color: #facc15;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.25s ease;
  width: 100%;
}

.edit-list-button:hover,
.delete-list-button:hover {
  background-color: #facc15;
  color: #121212;
  box-shadow: 0 0 8px rgba(250, 204, 21, 0.5);
  transform: translateY(-1px);
}



.show-list-header {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  margin-top: 30px;
}

.edit-form {
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin-bottom: 20px;
}

.edit-form select {
  width: 200px;
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: #292929;
  color: white;
  margin-right: 40px;
}

.edit-form button {
  width: 200px;
  padding: 8px 0;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  background-color: #facc15;
  color: white;
  margin-top: 6px;
  margin-right: 40px;
  transition: background-color 0.3s ease;
}

.edit-form button:hover {
  background-color: #e38e00;
}

.cancel-btn {
  background-color: #444;
}

.cancel-btn:hover {
  background-color: #666;
}

.type-list,
.status-list,
.score-list {
  margin-top: -10px;
}

.list-filter {
  background-color: #1a1a1a;
  color: white;
  padding: 8px 12px;
  border: 1px solid #facc15;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  appearance: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}

.list-filter:hover {
  background-color: #2a2a2a;
  border-color: #eab308;
}

.list-filter:focus {
  outline: none;
  border-color: #eab308;
  box-shadow: 0 0 5px rgba(250, 204, 21, 0.5);
}

.anime-entry {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 16px;
  border-radius: 12px;
  background-color: #1f1f1f;
  margin-bottom: 20px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  /*Centers each entry*/
}

.search-image {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.search-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
  margin-top: -23px;
}

.search-title {
  margin-top: 20px;
}

.search-episode,
.search-format {
  margin-top: 0px;
  display: flex;
}

.search-info-row {
  display: flex;
  gap: 10px;
}


.search-score-rank {
  margin-top: -30px;
}

.search-rank {
  margin-top: -10px;
}

.image-description {
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.04);
  max-width: 850px;
  margin: 40px auto 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-description img {
  width: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.character-section {
  max-width: 1000px;
  margin: -80px auto 60px auto;
  text-align: center;
}


.character-section h1 {
  font-size: 1.6rem;
  color: #facc15;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  border-bottom: 1px solid #333;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
}

.character-section.embedded {
  margin: 30px 0 0 0;
  text-align: center;
}


.description-title {
  position: relative;
  text-align: center;
  right: 10px;
  top: -15px;
}

.description-info {
  flex: 1;
  color: #ccc;
  font-size: 0.95rem;
  line-height: 1.6;
}

.description-info h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #facc15;
  margin-bottom: 12px;
  line-height: 1.3;
}

.detail-descrip {
  font-size: 1rem;
  color: #ccc;
  white-space: pre-wrap;
  margin-top: -10px;
}


.detail-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;

  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 20px 40px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.04);

  max-width: 500px;
  width: 100%;
  margin: 10px auto 60px auto;
  flex-wrap: nowrap;
}




.left-info,
.right-info {
  flex: 1;
  min-width: 250px;
}


.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.detail-add-button {
  background-color: #facc15;
  color: #000;
  font-weight: bold;
  font-size: 0.95rem;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.detail-add-button:hover {
  background-color: #eab308;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(250, 204, 21, 0.2);
}


.character-wrapper {
  /*margin-top: -3rem;*/
  margin-top: -3rem;

  width: 100%;
}

.character-title {
  font-size: 1.3rem;
  color: #facc15;
  font-weight: bold;
  margin-bottom: 14px;
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
  text-align: center;
}

.character-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 10px;
  max-width: 800px;
  margin: 0 auto;
}

.character-scroll {

  display: flex;
  gap: 1rem;
  overflow-x: auto;
  min-height: 160px;
  padding: 1rem 0;
}

.character-scroll::-webkit-scrollbar {
  display: none;
}

.character-card {
  flex: 0 0 auto;
  width: 100px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.character-card img {
  width: 100px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 6px;
}

.character-scroll-left,
.character-scroll-right {
  background-color: #facc15;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.character-scroll-left:hover,
.character-scroll-right:hover {
  background-color: #eab308;
}



.left-info p,
.right-info p {
  margin: 6px 0;
  font-size: 0.95rem;
}

.anime-detail-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.anime-section-heading {
  position: relative;
  font-size: 1.4rem;
  color: #facc15;
  font-weight: bold;
  border-bottom: 1px solid #333;
  padding-bottom: 6px;
  text-align: center;
  margin: 10px auto 20px auto;
}

.character-section h1 {
  font-size: 1.4rem;
  color: #facc15;
  font-weight: bold;
  text-align: center;
  margin: 50px auto 10px;
  border-bottom: 1px solid #333;
  width: fit-content;
  padding-bottom: 4px;
}

.details-section hr {
  border: 0;
  height: 1px;
  background-color: #333;
  margin: 20px auto;
  max-width: 1000px;
}

.details-section h1 {
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
}

.details-section button {
  background-color: #facc15;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 30px auto;
  display: block;
  font-size: 1rem;
  cursor: pointer;
}

.details-section button:hover {
  background-color: #eab308;
}

.register-container {
  max-width: 400px;
  margin: 80px auto;
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  color: white;
  font-family: sans-serif;
}

.register-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 28px;
}

.register-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 4px;
  color: white;
}

.register-error {
  color: #ff4d4f;
  font-size: 14px;
  margin-bottom: 16px;
}

.primary-button {
  width: 100%;
  padding: 12px;
  background-color: #FFD700;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 12px;
  transition: 0.3s ease;
}

.primary-button:hover {
  background-color: #e6c200;
}

.google-button {
  width: 100%;
  padding: 12px;
  background-color: #d3d3d3;
  font-weight: bold;

}

.popup-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  animation: fadeInOut 3s ease-out forwards;
}

.popup-message button {
  margin-left: 12px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.profile-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.profile-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}


.profile-stat {
  background-color: #1f1f1f;
  padding: 1.2rem;
  border-radius: 12px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #facc15;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
}

.profile-status {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  background-color: #121212;
  padding: 1.2rem;
  border-radius: 12px;
  font-size: 1rem;
}

.profile-status p {
  margin: 0;
  color: #fff;
  font-weight: 500;
}

.profile-username {
  text-align: center;
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 1.5rem;
}

.chart-wrapper {
  max-width: 300px;
  margin: 2rem auto;
  text-align: center;
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

.chart-wrapper h3 {
  color: white;
  margin-bottom: 1rem;
}

.recent-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #1a1a1a;
  border-radius: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.recent-section h3 {
  text-align: center;
  color: #facc15;
  margin-bottom: 1rem;
}

.recent-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.recent-card {
  width: 120px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.recent-card img {
  width: 100%;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
}



@media (max-width: 768px) {
  .hero-banner {
    height: 300px;
  }

  .hero-overlay h2 {
    font-size: 22px;
  }

  .hero-overlay p {
    font-size: 14px;
  }
}